<h3><strong>List of Locations:</strong></h3>
<ul>
  <br>
  {{#each model.locations.data as |location| }}
  <li><strong>Account: </strong>{{location.attributes.account}}</li>
  <li><strong>Name:</strong> {{location.attributes.location-name}}</li>
  <li><strong>Asset#:</strong> {{location.attributes.asset}}</li>
  <li><strong>Route:</strong> {{location.attributes.route}}</li>
  <li><strong>Sales Model:</strong> {{location.attributes.sales-model}}</li>
  <li><strong>Pricing:</strong> {{location.attributes.pricing}}</li>
  <li><strong>Tax:</strong> {{location.attributes.tax}}</li>
  <li><strong>Commission:</strong>{{location.attributes.com}}</li>
  <br>
  {{/each}}
</ul>
