<div class=container>
  <h1>Asset Test Page</h1>
    <br>
    <h3><strong>List of Assets:</strong></h3>
    <ul>
      <br>
      {{#each model.assets.data as |asset| }}
      <li><strong>Tracking number: </strong>{{asset.attributes.tracking-number}}</li>
      <li><strong>Location:</strong> {{asset.attributes.location}}</li>
      <li><strong>Manufacturer:</strong> {{asset.attributes.manufacturer}}</li>
      <li><strong>Controller Model:</strong> {{asset.attributes.controller-model}}</li>
      <li><strong>Frame Model:</strong> {{asset.attributes.frame-model}}</li>
      <li><strong>Frame Serial Number:</strong> {{asset.attributes.serial-number}}</li>
      <li><strong>Purchased From:</strong> {{asset.attributes.purchased-from}}</li>
      <li><strong>Purchased On:</strong>{{asset.attributes.purchased-on}}</li>
      <li><strong>Purchased For:</strong>{{asset.attributes.purchased-for}}</li>
      <li><strong>Depriciation Schedule:</strong>{{asset.attributes.depreciation-schedule}}</li>
      <li><strong>Depreciation Years:</strong>{{asset.attributes.depreciation-years}}</li>
      <li><strong>Depreciation 1st Year Offset:</strong>{{asset.attributes.depreciation-first-year-offset}}</li>
      <li><strong>Salvage Value:</strong>{{asset.attributes.salvage-value}}</li>
      <br>
      {{/each}}
    </ul>
</div>
