<div class=container>
  <h1>Index</h1>

  <ul>
    <li><strong>Length of Mirage Generated List:</strong> {{model.accounts.data.length}}</li>

    <br>

    <li><strong>Company Name and Id:</strong> {{model.account2.data.attributes.name}}</li>
    <li><strong>Contact:</strong> {{model.account2.data.attributes.contact}}</li>
    <li><strong>e-mail: </strong>{{model.account2.data.attributes.email}}</li>



    <br>

    <li><strong>Faker Looping</strong></li>
    <ul>
      {{#each model.accounts.data as |account| }}
        {{#link-to 'site' account.id}}<li>{{account.attributes.name}}</li>{{/link-to}}
      {{/each}}
    </ul>
  </ul>
{{#link-to 'location'}}Location page{{/link-to}}
<br>
{{#link-to 'site'}}Site page{{/link-to}}
<br>
{{#link-to 'asset'}}Asset Page{{/link-to}}

</div>
