<div class="container-fluid">
  <h1>All Sites</h1>
  <table class="table table-condensed table-reponsive table-bordered table-hover">
    <thead>
      <tr>
        <th>Site Name</th>
        <th>Account</th>
        <th>Time Zone</th>
        <th>Max Charge</th>
        <th>Site ID</th>
        <th>Billing Terms</th>
        <th>Billing Address</th>
        <th>Shipping Address</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.sites.data as |site| }}
        <tr>
          <td><strong>{{site.attributes.site-name}}</strong></td>
          <td><strong>{{#link-to 'index'}}{{site.attributes.account}}{{/link-to}}</strong></td>
          <td>{{site.attributes.time-zone}}</td>
          <td>{{site.attributes.max-charge}}</td>
          <td>{{site.attributes.site-id}}</td>
          <td>{{site.attributes.billing-terms}}</td>
          <td>{{site.attributes.billing-address}}</td>
          <td>{{site.attributes.shipping-address}}</td>
          <td><span class="glyphicon glyphicon-trash" {{action 'destroySite' site}}></span></td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <button class="btn btn-xs btn-success" id="addSite" {{action "toggleModal"}}>Modal Test</button>

  {{#if isShowingModal}}
    {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true}}
      {{site-modal-tile}}
    {{/modal-dialog}}
  {{/if}}
</div>

{{outlet}}
